# Exclude everything by default
*

# Include only what the simulation image build needs:
#   COPY . .  ->  pip install .  (needs package + pyproject.toml)
!quantum_pipeline/
!data/
!pyproject.toml
!README.md
!LICENSE
